[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/cpprestsdk"]
	path = ThirdParty/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
	branch = master
